Repository caiyanhu/vue3-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix --allow-empty-input, tiny-files --key zGtmbd0wsPVNgSRT2XTq0bCvRnrFL7g0, svgo

feat: 增加信赖项及修改gitignore
  .gitignore
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 引入svg-loader
  package.json
  src/assets/recorder.svg
  src/components/Recorder/index.vue
  src/components/index.ts
  src/main.ts
  src/views/Home.vue
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write, svgo

feat: 开发首页
  eslint.config.mjs
  package.json
  postcss.config.js
  public/images/home_background.svg
  public/images/wave.svg
  src/apis/index.ts
  src/assets/exclamation.svg
  src/assets/recorder.svg
  src/assets/textArea.svg
  src/assets/voiceWave.webp
  src/assets/voiceWaveStart.png
  src/components/HomeBottom.vue
  src/components/MessagePopup.vue
  src/components/Recorder/index.vue
  src/components/Recorder/recorder.ts
  src/components/TextArea.vue
  src/components/index.ts
  src/directives/index.ts
  src/directives/touch.ts
  src/main.ts
  src/style.css
  src/views/Home.vue
  tailwind.config.js
  uno.config.ts
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input, tiny-files --key zGtmbd0wsPVNgSRT2XTq0bCvRnrFL7g0, svgo

feat: 移除敏感信息
  src/apis/index.ts
Due: eslint --fix, prettier --write

feat: 增加对话框
  index.html
  package.json
  public/images/answer_background.svg
  public/images/home_background.svg
  public/images/home_background_bottom.svg
  src/apis/index.ts
  src/assets/ap_button.svg
  src/assets/distributed_button.svg
  src/assets/mysql_button.svg
  src/assets/pg_button.svg
  src/assets/voiceWaveInit.png
  src/assets/voiceWaveStart.png
  src/components/Common/MessagePopup.vue
  src/components/Dialog/Answer.vue
  src/components/Dialog/Recorder/index.vue
  src/components/Dialog/Recorder/recorder.ts
  src/components/Dialog/TextArea.vue
  src/components/HomeBottom/index.vue
  src/components/HomeMiddle/index.vue
  src/components/HomeTop/index.vue
  src/components/Recorder/recorder.ts
  src/components/TextArea.vue
  src/components/index.ts
  src/main.ts
  src/router/index.ts
  src/store/index.ts
  src/store/text.ts
  src/views/AP.vue
  src/views/Distributed.vue
  src/views/Home.vue
  src/views/MySQL.vue
  src/views/PostgreSQL.vue
  tailwind.config.js
  vite.config.ts
Due: eslint --fix, prettier --write, tiny-files --key zGtmbd0wsPVNgSRT2XTq0bCvRnrFL7g0, svgo

fix: 修复长按时因为浏览器默认选中文本而导致触发touchCancel事件的问题
  src/directives/touch.ts
  src/style.css
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

fix: 修复产品按钮展示不完整的问题
  src/assets/ap_button.svg
  src/assets/button_arrow.svg
  src/assets/button_background.svg
  src/assets/distributed_button.svg
  src/assets/mysql_button.svg
  src/assets/pg_button.svg
  src/components/HomeTop/index.vue
Due: eslint --fix, prettier --write, svgo

feat: 验证权限被拒绝的场景
  public/images/wave.svg
  src/apis/index.ts
  src/components/Dialog/Recorder/AudioRecorder.ts
  src/components/Dialog/Recorder/index.vue
  src/store/error.ts
  src/views/Home.vue
Due: eslint --fix, prettier --write, svgo

feat: 快速点击动画片会触发彩蛋
  package.json
  src/components/Dialog/Recorder/index.vue
  src/components/HomeMiddle/Model.vue
  src/components/HomeMiddle/index.vue
  src/directives/index.ts
  src/directives/longPress.ts
  src/directives/multiTouch.ts
  src/directives/utils.ts
  src/views/Home.vue
Due: eslint --fix, prettier --write

feat: 处理唤起键盘时首页中部遮挡输入框的问题
  src/components/Dialog/TextArea.vue
  src/components/HomeMiddle/index.vue
  src/directives/longPress.ts
  src/directives/utils.ts
  src/store/index.ts
  src/store/visible.ts
  src/utils/device.ts
Due: eslint --fix, prettier --write

fix: 修复在ios上svg在url里不起作用的问题
  src/assets/button_background.png
  src/assets/button_background.svg
  src/assets/textArea.png
  src/assets/textArea.svg
  src/components/Dialog/TextArea.vue
  src/components/HomeTop/index.vue
Due: eslint --fix, prettier --write, tiny-files --key zGtmbd0wsPVNgSRT2XTq0bCvRnrFL7g0, svgo

feat: 禁用右键菜单
  src/views/Home.vue
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx,jsx,vue,json}
  prettier --write: (any of: *.{js,ts,tsx,jsx,vue,json}) or (any of: *.{css,less,scss,sass})
  stylelint --fix --allow-empty-input: any of: *.{css,less,scss,sass}
  tiny-files --key zGtmbd0wsPVNgSRT2XTq0bCvRnrFL7g0: any of: *.{png,jpg,jpeg,webp}
  svgo: any of: *.svg
